@page
@model PortfolioProject.Views.Home.ProjectModel
@{
}

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <!--
    File name: Project.aspx
    Author's name: Pedro Paulo Gomes Cunha
    web site name: Pedro Cunha's Portfolio Website
    file description: Portfolio page that displays my projects
    -->
    <main class="main">
        <div class="container">
            <div class="page-header">
                <h1> Portfolio </h1>
            </div>
             <!-- qualifications section -->
            <!-- first row -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Projects</h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                    <img class="img-center" src="~/Assets/images/api.jpg" height="200" alt="Rest Full example">
                    <a href="https://github.com/Pedro-Paulo-Gomes-Cunha/Lab_Api">><h3><small>Rest API example</small></h3></a>
                    <p>A API that users can register and submit schools of Angola provinces. Built in Asp.Net Web API, SQl Server Express.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                    <img class="img-center" src="~/Assets/images/mobilebike.png" height="200" alt="Mobile BikeShared">
                   <a href="https://github.com/Pedro-Paulo-Gomes-Cunha/mobile_bikeshare"> <h3><small>Mobile BikeShared App</small></h3>
                    <p>Mobile BikeShared App built in Java,with Spring boot Api</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                    <img class="img-center" src="~/Assets/images/webBike.jpg" height="200" alt="Web BikeShared ">
                   <a href="https://github.com/Pedro-Paulo-Gomes-Cunha/Lab_Api"> <h3><small>Web BikeShared </small> </h3></a>
                    <p>Employee and Product management system written in Php (Laravel) incorporated with remote MySql database.</p>
                </div>

            </div>
            <!-- second row -->
           <div class="row">
               
                <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                    <img class="img-center" src="~/Assets/images/AspPortfolio.png" height="200" alt="Portfolio Site screenshot ">
                   <a href="https://pedrocunha.bsite.net/home"> <h3><small>Portfolio Site </small> </h3></a>
                    <p>Portfolio site built in Asp.net (c#)</p>
                </div>
                </div>
               <!--  <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                    <img class="img-center" src="~/Assets/images/asp-net.png" height="200" alt="Enterprise Application">
                   <a href="https://github.com/Pedro-Paulo-Gomes-Cunha/Lab_Api"> <h3>Enterprise Application<br /><small>ASP.NET, C#</small></h3></a>
                    <p>Building secure web enterprise application with ASP.NET and C# using Visual Studio incorporated with SQL database.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                    <img class="img-center" src="~/Assets/images/cms.png" height="200" alt="Contents Management System">
                  <a href="https://github.com/Pedro-Paulo-Gomes-Cunha/Lab_Api">  <h3>Contents Management System<br /><small>PHP, MySQL</small></h3></a>
                    <p>CMS built in PHP incorporated with SQL database.</p>
                </div>

            </div>-->
          
        </div>
    </main>
</asp:Content>


